:root {
  --background: #0A0A0A;

  --surface: #111111;
  --surface-hover: #371e3b;

  --primary: #14B8A6;
  --primary-hover: #348b71;

  --text: #f8fafc;
  --text-secondary: #ffffff9c;

  --radius: 8px;
  --container-width: 1200px;

  --nav-bg: #0a0a0abc;
  --nav-border: rgba(255, 255, 255, 0.08);

  --skills-button-border: rgba(255, 255, 255, 0.08);
  --skills-button-background: ;
}

[data-theme="light"] {
  --background: #ffffff;

  --surface: #efefef;
  --surface-hover: #371e3b;

  --text: #0f172a;
  --text-secondary: #000000d1;

  --footer: rgba(0, 0, 0, 0.03);

  --nav-bg: rgba(255, 255, 255, 0.7);
  --nav-border: rgba(0, 0, 0, 0.08);

  --skills-button-border: rgba(14, 10, 35, 0.08);
}